<div class= "pie_duan_frame">
  <div class="clear">
    <a href="/">首页</a> > 参考情况
  </div>
  <h3>站段总人数:</h3>
  <div class="">
    <%= @duans_student %>
  </div>

  <h3>参加考试的人数:</h3>
  <div><%= @duans_student_ck %></div>


<%= link_to("北京站", station_student_info_t_station_infoes_path(:name => "北京站"))%>

  <%= line_chart charts_names_path %>
</div>
