
<div class= "pie_duan_frame">
  <div class="clear">
    <a href="/">首页</a> > 考试成绩
  </div>
  <%= @duan_90_scores%><br>
  <%= @duan_80_scores%><br>
  <%= @duan_60_scores%><br>
  <%= @duan_60_bellow_scores%><br>
</div>
