<table>
  <tr>
    <th>应考人数</th>
    <th>实考人数</th>
    <th>未考人数</th>
  </tr>
  <% duan.each do |d| %>
    <tr>
      <td><%= student.where(:F_duan_uuid => d.F_uuid).size%></td>
      <td><%= student_ck.select{|s| s.F_duan_uuid == d.F_uuid}.size%></td>
      <td><%= student.where(:F_duan_uuid => d.F_uuid).size - student_ck.select{|s| s.F_duan_uuid == d.F_uuid}.size %></td>
    </tr>
  <% end %>
</table>

<%= line_chart charts_names_path %>
