
<div class = "welcome_frame">
  <h3>站段 (共计：<%= @duans.size%>个)</h3><hr>
    <% @duans.each do |duan|%>
      <%= link_to t_station_infoes_path(:duan => duan.F_uuid) do  %>
        <button type="button" name="name"><%= duan.F_name %></button>
      <% end %>
    <% end %>
</div>
