<div class="call-board-show">
  <h3><%= @call_board.name %></h3>
  <p><%= simple_format(@call_board.content) %></p>
  <% n = @call_board.call_board_attachments.count %>

  <% (0..(n-1)).each do |i| %>
    <p>下载附件:<%= link_to("#{@call_board.call_board_attachments[i]}".split("/").last,"http://10.64.2.108:8033"+"#{@call_board.call_board_attachments_urls[i]}")%></p>
  <% end %>

</div>
