<h4><%= link_to("新建站段账号",new_user_path)%></h4>
<br>
<h4><%= link_to("新建车站账号",new_station_users_path, method: :get)%></h4>
<% if @users.present? %>
  <% @users.each do |u| %>
    <%= u.role%><br>
  <% end %>
<% end %>
