<div class = "welcome_frame">
  <h3>已参考站段 (共计：<%= @ck_duans.size%>个)</h3><hr>
    <% @ck_duans.each do |duan|%>
      <button type="button" name="name"><%= duan%></button>
    <% end %>

  <h3>未参考站段 (共计：<%= @wk_duans.size%>个)</h3><hr>
    <% @wk_duans.each do |duan|%>
      <button type="button" name="name"><%= duan%></button>
    <% end %>


</div>
