
<div class = "welcome_frame">
  <!-- 关于未参考的车务段： -->
  <h4 style="color:#4444C1;">未参考车站：</h4>


    <% if @wk_stations.present? %>
      <% @wk_stations.each do |duan,stations|%>
        <p ><%= TDuanInfo.find_by(:F_uuid => duan).F_name %></p>
        <div class="station-card" >
          <% stations.each do |station| %>
            <div class="station-card2">
              <%= station.F_name%>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <legend>所有车站均已参加了考试！</legend>
    <% end %>


    <!-- 关于已参考的车站： -->
  <h4 style="color:#4444C1;">已参考车站：</h4>


    <% if @ck_stations.present? %>
      <% @ck_stations.each do |duan,stations|%>
        <p ><%= TDuanInfo.find_by(:F_uuid => duan).F_name %></p>
        <div class="station-card" >
          <% stations.each do |station| %>
            <div class="station-card2">
              <%= station.F_name%>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <legend>所有车站均已参加了考试！</legend>
    <% end %>
</div>
