<div style="width:80%;margin:0 auto;">


  <h3>网站更新记录:</h3>
  <p>1、完成了人员标记功能（2017.12.30）</p>
  <ul>
    <li>车站管理员可以把已退休且不计入考核统计的考生标记为退休。</li>
    <li>车站管理员可以把已借调到其他车站的考生标记已调离，这样便可以不计入本站考核</li>
    <li>车站管理员可以把本月请假且不计入本月考核的考生标记为请假</li>
  </ul>
  <p>3、完成人员删除功能(2018.01.02)</p>
  <ul>
    <li>只有运输处有权限</li>
    <li>删除考生时，该考生所有过往考试记录及相关信息会一并删除。</li>
    <li>如果仅仅想删除该考生本次考试记录，可前往考试详情界面删除本次考试记录即可</li>
  </ul>
  <p>2、调整五张卡片中车站及班组总数显示算法(2018.1.3)</p>
  <ul>
    <li>只有有考生数据的车站和班组才加入统计</li>
  </ul>
  <p>4、修复公告附件显示乱码的问题（2018.1.3）</p>
  <p>5、修复公告内容编辑功能不好用的问题（2018.1.4）</p>
  <p>6、修复车站管理员权限下班组及考生卡片算法错误问题（2018.1.4）</p>
  <p>7、修复站段管理员班组卡片实考班组数量计算错误的问题（2018.1.6）</p>
  <p>8、调整公告功能，令新建公告时标题不能为空，另外把新建、编辑界面改为中文(2018.1.6)</p>
  <p>9、考试记录页面排版整理（2018.1.7）</p>
</div>
