<h3>网站更新记录</h3>
<p>2017.12.30，完成了人员标记功能</p>
<ul>
  <li>车站管理员可以把已退休且不计入考核统计的考生标记为退休。</li>
  <li>车站管理员可以把已借调到其他车站的考生标记已调离，这样便可以不计入本站考核</li>
  <li>车站管理员可以把本月请假且不计入本月考核的考生标记为请假</li>
</ul>
<p>完成人员删除功能(2017.01.02)</p>
<ul>
  <li>只有运输处有权限</li>
  <li>删除考生时，该考生所有过往考试记录及相关信息会一并删除。</li>
  <li>如果仅仅想删除该考生本次考试记录，可前往考试详情界面删除本次考试记录即可</li>
</ul>
