

<div class = "welcome_frame">
  <div class="">
    <a href="/">首页</a> > <a href="/t_duan_infoes">所有站段</a> > <%= @duan.F_name %>
  </div>
  <h3>车站 (共计：<%= @stations.size%>个)</h3><hr>
    <% @stations.each do |station|%>
      <%= link_to team_student_info_t_team_infoes_path(:duan_name => params[:duan],:name => station.F_name) do  %>
        <button type="button" name="name"><%= station.F_name %></button>
      <% end %>
    <% end %>
</div>
/t_team_infoes/team_student_info?duan_name=北京车务段&name=定州
