<div class= "pie_duan_frame">
  <div class="clear">
    <a href="/">首页</a> > <a href="/t_duan_infoes/duan_student_info">各站段参考情况</a>
  </div>
  <h3>车站总人数:</h3>
  <div class="">
    <%= @station_student %>
  </div>

  <h3>车站参加考试的人数:</h3>
  <div><%= @station_student_ck %></div>

</div>
