/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "material-kit";


body {
  min-height:100%;
  background:rgba(143,145,157,0.17);
  background-color:#CEE5EE;
}

table {
  tr {
    th{ text-align: center;}
    td{ text-align: center;}
  }

  legend {
    color:red;
  }
  border-bottom:#fff;
}
.range-query{
  .search-button{
    margin-right:50px;

    font-size: 15px;
    text-align: center;
    padding:3px;
    padding-right:8px;
    padding-left:8px;
    background-color: #4b73b2;
  }
  button{
    height:3px;
    width:40px;
    background-color: red;
  }
}

.searchtime{
  display: inline-block;
}

.nav-size{
  font-size: 15px;
}

// 登陆样式：
.loginpage-frame{
  width:30%;
  margin:0 auto;
}

.simple_form input[type='submit']{
  background-color:#3D74B8;
}

// 搜索样式：

.root-search{
  display:inline-block;
  margin-left: 18%;
  input{
    display:inline-block;
  }
}
.root-search-time{
  height:50px;
  width:100%;
  overflow:auto;
}
.root-search-time1{
  display:inline-block;
  margin-left: 10%;
}
.root-search-time2{
  display:inline-block;
  margin-left: 10px;

}

// 五张卡片样式：

.root-card-frame{
  height:300px;
  width:100%;
  margin-top:15px;
  margin-bottom:30px;
  overflow: auto;
  .root-card{
    width:1085px;
    margin:30px auto;
    padding-left:-30px;
    a{
      display:inline-block;
    }
    .root-card-block{
      height:175px;
      width:175px;
      border-radius:5px;
      margin-left:10px;
      margin-right:15px;
      background-color: rgba(243,243,243,1);
      padding-top:35px;

      i{
        margin-left:40%;
      }

      strong{
        color: #ffffff !important;
        line-height: 30px;
        margin-left:30px;
        font-size:17px;
      }

      .root-card-content{
        background-color:#4b73b2;
        height:70px;
        margin-top:35px;
      }
    }
    .root-card-block:first-of-type{

      height:175px;
      width:175px;
      border-radius:5px;
      margin-left:20px;
      margin-right:15px;
      background-color: rgba(243,243,243,1);
      padding-top:35px;
    }
  }
}

// 五张卡片内部样式
.welcome_frame{
  width:90%;
  margin:0 auto 50px;
  span{
    text-align: center;
    color:red;
    margin-left:40%;
  }
  p{
    font-weight:900;
    text-align: center;
    font-size: 15px;
    clear:both;
    line-height: 50px;
  }
  .station-card-head{
    margin: 20px;
  }
  .station-card{
    background-color: #fff;
    overflow: auto;
    width:90%;
    margin:0 auto;
    .station-card1{
      float:left;
      width:16.6%;
      height:15px;
      text-align: center;
      margin-top: 10px;
      margin-bottom:10px;
    }
    .station-card2{
      float:left;
      width:16.6%;
      height:58px;
      text-align: center;
      margin-top: 10px;
      margin-bottom:10px;
    }
  }
}


// 四个饼图：
.root-data-frame{
  height:600px;
  width:100%;
  margin-top:-70px;
  .root-data-block{
    height:700px;
    width:1050px;
    margin:30px auto;
    .root-data-people{
      height:335px;
      width:490px;
      border-radius:5px;
      float:left;
      border-bottom: 1px solid rgba(143,145,157,0.17);
      background-color: rgba(243,243,243,1);
    }
    .root-data-score{
      height:335px;
      width:490px;
      border-radius:5px;
      border-bottom: 1px solid rgba(143,145,157,0.17);
      float:right;
      background-color: rgba(243,243,243,1);

    }
    .root-data-question{
      height:335px;
      width:490px;
      border-radius:5px;
      margin-top:30px;
      float:left;
      background-color: rgba(243,243,243,1);

    }
    .root-data-wrong{
      height:330px;
      width:490px;
      border-radius:5px;
      margin-top:30px;
      float:right;
      background-color: rgba(243,243,243,1);

    }
  }
}



// 饼图展示内部
.pie_duan_frame{
  width:85%;
  margin:0 auto;
  .clear{
    clear:both;
  }
}


.team_chart_frame{
  width: 450px;
  height:500px;
  float:left;
  margin: 30px;
}
.team_student_frame{
  width:50%;
  padding-top:40px;
  float:right;
  h4 {
    width:100%;

  }
  table{
    width:100%;
  }
}

.teams_uploader{
  clear:both;

  .uploader-submit{
    background-color:#4B73B2;
    color:#ffffff;
  }

  .uploader-label{
    color:#4B73B2;
  }
}
.teams_station_picture{
  display:inline-block;
  position: relative;
  .dropdown-content{
    display:none;
    position: fixed;
    left:10px;
    top:10px;
    z-index:1000;
  }
}
.teams_station_picture:hover .dropdown-content{
  display:inline-block;
  top:0;
}


// 公告样式
.call-board-frame{
  width:80%;
  margin:30px auto;
  tr{
    height:30px;
  }
}

.call-board-show-head{
  text-align: right;
  letter-spacing: 8px;
  p{
    margin-right: 30px;
    line-height: 10px;
    a{
      letter-spacing: 5px;
    }
  }
}
.call-board-show{
  width:80%;
  margin:30px auto;
  padding: 30px 20px;
  background:#fff;
  h3{
    text-align: center;
    color:#453DB8;
  }
  p{
    color:#1C3054;
    font-size: 15px;
  }

}

.browse-index-head{
  margin-left: 30px;
  font-size: 18px;
  margin-bottom:20px;
}


// 第三个饼图内部样式

.program-student-info-bar{
  margin-top: 10px;
  margin-bottom: 10px;
  ul{

    background-color: #DEF1D5;
    width:100%;
    li{
      font-weight: bold;
    }
    .first-li {
      font-weight: bold;
      background-color:rgba(64, 117, 181, 1);
      a{
        color:black;
      }
    }
  }
}

// 提示消息样式

  .tooltip > .tooltip-inner {
    min-width: 40px;
    padding: 5px 15px;
    color: rgb(23,44,66);
    font-weight: bold;
    font-size: 14px;
  }

// 日期显示框
.time-panel {
  height:30px;
  .time-panel-body{
    line-height: 30px;
    text-align: center;
    color:#4b73b2;
    font-weight: bolder;
    font-size: 20px
  }
}

// 导航栏样式

.login-block{
  float:right;
}

//个人考试分析student_ck页面
.container-student-ck{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.table[_ngcontent-1] {
    overflow: hidden;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.table[_ngcontent-1] tr[_ngcontent-1] th[_ngcontent-1] {
    height: 50px;
    border-top: 0;
    border-bottom: 0;
    background-color: #f5f5f7;
    color: #7f7999;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}
.input-search {
  height: 35px;
}
