/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";


body {
  min-height:100%;
  background:rgba(143,145,157,0.17);
}
.nav-size{
  font-size: 15px;
}

.root-search{
  display:inline-block;
  margin-left: 18%;
  input{
    display:inline-block;
  }
}

.root-search-time1{
  display:inline-block;
  margin-left: 10%;
}
.root-search-time2{
  display:inline-block;
  margin-left: 10px;

}


.root-card-frame{
  height:100px;
  width:100%;
  margin:30px auto;
  .root-card{
    width:950px;
    margin:0 auto;
    .root-card-block{
      height:100px;
      width:150px;
      margin-left: 45px;
      background-color: #fff;
      float:left;

      strong{
        line-height: 30px;
        margin-left:20px;
      }
    }
    .root-card-block:first-of-type{
      height:100px;
      width:150px;
      margin-left: 0;
      float:left;
    }
  }
}


.root-data-frame{
  height:600px;
  width:100%;
  .root-data-block{
    height:600px;
    width:950px;
    margin:0 auto;
    .root-data-people{
      height:300px;
      width:450px;
      float:left;
      border-bottom: 1px solid rgba(143,145,157,0.17);
      background-color: #fff;
    }
    .root-data-score{
      height:300px;
      width:450px;
      border-bottom: 1px solid rgba(143,145,157,0.17);
      float:right;
      background-color: #fff;

    }
    .root-data-question{
      height:300px;
      width:450px;
      float:left;
      background-color: #fff;

    }
    .root-data-wrong{
      height:300px;
      width:450px;
      float:right;
      background-color: #fff;

    }
  }
}

.welcome_frame{
  width:90%;
  margin:0 auto;
  button {
    width:160px;
    height:45px;
    margin-right:20px;
    margin-bottom:30px;
  }
}
