/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "font-awesome";


body {
  min-height:100%;
  background:rgba(143,145,157,0.17);
}

table {
  tr {
    th{ text-align: center;}
  }
  legend {
    color:red;
  }
}
.nav-size{
  font-size: 15px;
}

// 登陆样式：
.loginpage-frame{
  width:30%;
  margin:0 auto;
}

// 搜索样式：

.root-search{
  display:inline-block;
  margin-left: 18%;
  input{
    display:inline-block;
  }
}
.root-search-time{
  height:50px;
  width:100%;
  overflow:auto;
}
.root-search-time1{
  display:inline-block;
  margin-left: 10%;
}
.root-search-time2{
  display:inline-block;
  margin-left: 10px;

}

// 五张卡片样式：

.root-card-frame{
  height:100px;
  width:100%;
  margin:30px auto;
  .root-card{
    width:950px;
    margin:0 auto;
    .root-card-block{
      height:100px;
      width:150px;
      margin-left: 45px;
      background-color: #fff;
      float:left;

      strong{
        color: #4A4A4A !important;
        line-height: 30px;
        margin-left:20px;
      }
    }
    .root-card-block:first-of-type{
      height:100px;
      width:150px;
      margin-left: 0;
      float:left;
    }
  }
}

// 五张卡片内部样式
.welcome_frame{
  width:90%;
  margin:0 auto 50px;
  p{
    font-weight:900;
    text-align: center;
    font-size: 15px;
    clear:both;
    line-height: 50px;
  }
  .station-card-head{
    margin: 20px;

  }
  .station-card{
    background-color: #fff;
    overflow: auto;
    width:90%;
    margin:0 auto;
    .station-card1{
      float:left;
      width:16.6%;
      height:15px;
      text-align: center;
      margin-top: 10px;
      margin-bottom:10px;
    }
    .station-card2{
      float:left;
      width:16.6%;
      height:58px;
      text-align: center;
      margin-top: 10px;
      margin-bottom:10px;
    }
  }
}


// 四个饼图：
.root-data-frame{
  height:600px;
  width:100%;
  .root-data-block{
    height:700px;
    width:1000px;
    margin:0 auto;
    .root-data-people{
      height:335px;
      width:490px;
      float:left;
      border-bottom: 1px solid rgba(143,145,157,0.17);
      background-color: #fff;
    }
    .root-data-score{
      height:335px;
      width:490px;
      border-bottom: 1px solid rgba(143,145,157,0.17);
      float:right;
      background-color: #fff;

    }
    .root-data-question{
      height:335px;
      width:490px;
      margin-top:30px;
      float:left;
      background-color: #fff;

    }
    .root-data-wrong{
      height:335px;
      width:490px;
      margin-top:30px;
      float:right;
      background-color: #fff;

    }
  }
}



// 饼图展示内部
.pie_duan_frame{
  width:85%;
  margin:0 auto;
  .clear{
    clear:both;
  }
}


.team_chart_frame{
  width: 450px;
  height:500px;
  float:left;
  margin: 30px;
}
.team_student_frame{
  width:40%;
  padding-top:40px;
  float:left;
  h4 {
    width:100%;

  }
  table{
    width:100%;
  }
}

.teams_uploader{
  clear:both;
}
.teams_station_picture{
  display:inline-block;
  position: relative;
  .dropdown-content{
    display:none;
    position: fixed;
    z-index:1000;
  }
}
.teams_station_picture:hover .dropdown-content{
  display:inline-block;
  top:0;
}


// 公告样式
.call-board-frame{
  width:80%;
  margin:30px auto;
  tr{
    height:30px;
  }
}
.call-board-show{
  width:80%;
  margin:30px auto;
  padding: 30px 20px;
  background:#fff;
  h3{
    text-align: center;
    color:#453DB8;
  }
  p{
    color:#1C3054;
    font-size: 15px;
  }


}
