<nav class="navbar navbar-default" role="navigation">

	<div class="container-fluid">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="/">实训平台</a>
      </div>

			<div class="collapse navbar-collapse menu" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav">
				  <li class="active"><a href="#">角色管理</a></li>
      		<li><a href="/t_duan_infoes">组织机构</a></li>
          <li><a href="/call_boards">公告</a></li>
    		</ul>



      <div class="nav navbar-nav navbar-right login-block">
        <% if !current_user %>
          <li><%= link_to("注册", new_user_registration_path) %> </li>
          <li><%= link_to("登入", new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">你好，<%=current_user.role %>
             <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>
        <% end %>
      </div>
    </div>
	</div>
</nav>
