<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-head">
      <a class="navbar-brand" href="/">实训平台 </a>
      <a class= "navbar-brand nav-size" href="#">角色管理</a>
      <a class= "navbar-brand nav-size" href="/t_duan_infoes">组织机构</a>
      <a class= "navbar-brand nav-size" href="/call_boards" style = "color:#C14452">公告</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
        <li><%= link_to("登入", new_user_session_path) %></li>
        <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">你好，<%=current_user.role %>
             <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
