// Place all the styles related to the xcf::data-display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.overall-data {
  width: auto;
  height: 36px;
  margin-top: 10px;
  font-family: AvenirNext;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  color: var(--greyish-brown);
}
.time-search{
  width: auto;
  height: 36px;
  border-style: solid;
  border-width: 2px;
}
.box{
  width: auto;
  height: 708px;
  padding: 15px;
  padding-left: 20px;
  border-style: solid;
  border-width: 2px;
  margin-top: 10px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255,255,255);
  background-origin: padding-box;
  box-shadow: rgba(190,202,218,17);
  border-collapse: separate;
  border-color: rgb(255,255,255);
  border-radius: 3px;
}
.box-padding{
  width: auto;
  height: 656px;
}
.box-text{
  width: auto;
  height: 42px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  color: var(--greyish-brown);
}


.box1{
  width: auto;
  height: 708px;
  padding: 15px;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255,255,255);
  background-origin: padding-box;
  box-shadow: rgba(190,202,218,17);
  border-collapse: separate;
  border-color: rgb(255,255,255);
  border-radius: 3px;
}
.box1-padding{
  width: auto;
  height: 656px;
}
.box1-text{
  width: auto;
  height: 42px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  color: var(--greyish-brown);
}
.box1-form{
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 1px;
  padding-top: 15px;
}




//这个是all_examinee的css设置

.examinee{
  width: auto;
  height: 76px;
  padding: 15px;
  font-family: AvenirNext;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  color: var(--greyish-brown);
}
.time-center{
  width: auto;
  height: 28px;
  margin: 10px,30px;
  border-bottom-style: solid;
  border-width: 1px;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.back-button{
  width: 162px;
  height: 36px;
  margin-top: 15px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding-top: 5px;
}
.statistics{
  width: auto;
  height: 56px;
  padding: 10px;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255,255,255);
  background-origin: padding-box;
  box-shadow: rgba(190,202,218,17);
  border-collapse: separate;
  border-color: rgb(255,255,255);
  border-radius: 3px;
}
.statistics-box{
  width: auto;
  height: 40px;
  padding: 5px;
  font-size: 18px;
  text-align: left;
}
.statistics-box1{
  width: auto;
  height: 40px;
  padding: 5px;
  padding-left: 20px;
  font-size: 18px;
  text-align: center;
}

.exam-table{
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255,255,255);
  background-origin: padding-box;
  box-shadow: rgba(190,202,218,17);
  border-collapse: separate;
  border-color: rgb(255,255,255);
  border-radius: 3px;
}
.exam-text{
  background-color: rgb(245,246,247);
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.exam-text-small{
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.railway_details{
  width: auto;
  height: 863px;
  margin: 10px 50px 40px 50px;
  border-style: solid;
  border-width: 3px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255,255,255);
  background-origin: padding-box;
  box-shadow: rgba(190,202,218,17);
  border-collapse: separate;
  border-color: rgb(255,255,255);
  border-radius: 3px;
}
.railway_details_show{
  width: auto;
  height: auto;
  margin: 10px 50px 40px 50px;
  border-style: solid;
  border-width: 3px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255,255,255);
  background-origin: padding-box;
  box-shadow: rgba(190,202,218,17);
  border-collapse: separate;
  border-color: rgb(255,255,255);
  border-radius: 3px;
}
.railway_title{
  width: auto;
  height: 36px;
  margin-top: 10px;
  padding-left: 15px;
  font-family: AvenirNext;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  color: var(--greyish-brown);
}
.railway_body{
  width: auto;
  height: 725px;
  padding:0px 15px;
  margin-top: 40px;
}

.railway_body_head{
  width: auto;
  height: 325px;
}
.railway_body_cotent{
  width: auto;
  height: 325px;
  margin-top: 30px;

}
.railway_body_title{
  width: auto;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
}
.railway_back_button{
  width: auto;
  height: 36px;
  text-align: right;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}
.railway_button{
  height: auto;
  width: auto;
  text-align: center;
  padding: 15px;
}
.railway-text-small{
  text-align: center;
  margin: 5px 0px;
}
